<div class="tampar-nav">

</div>

<div class="login-cadastro-background">
    <div class="login-cadastro-container">
        <div class="design">
            <div class="item-1 rotate-45"></div>
            <div class="item-2 rotate-45"></div>
            <div class="item-3 rotate-45"></div>
            <div class="item-4 rotate-45"></div>
        </div>
        <div class="login">
            <form action="" method="POST" class="form-cadastro-login">
                <h2 class="nome-pifa-login">PIFA 23</h2>
                <h3 class="login-cadastro-titulo">Cadastra-se para jogar o PIFA!</h3>
                <div>
                    <div class="form-control">
                        <input type="text" name="nome" id="nome" autocomplete="off" minlength="5" maxlength="50" required>
                        <label>
                            <span style="transition-delay:0ms" class="first-letter">N</span><span
                                style="transition-delay:50ms">o</span><span style="transition-delay:100ms">m</span><span
                                style="transition-delay:150ms">e</span><span style="transition-delay:150ms">
                            </span><span style="transition-delay:150ms">C</span><span
                                style="transition-delay:150ms">o</span><span
                                style="transition-delay:150ms">m</span><span
                                style="transition-delay:150ms">p</span><span
                                style="transition-delay:150ms">l</span><span
                                style="transition-delay:150ms">e</span><span
                                style="transition-delay:150ms">t</span><span style="transition-delay:150ms">o</span>
                        </label>
                    </div>
                    <div class="form-control">
                        <input type="text" name="nomeClube" id="nomeClube" autocomplete="off" minlength="3" maxlength="35" required>
                        <label>
                            <span style="transition-delay:0ms" class="first-letter">U</span><span
                                style="transition-delay:50ms">s</span><span style="transition-delay:100ms">e</span><span
                                style="transition-delay:150ms">r</span><span
                                style="transition-delay:200ms">n</span><span
                                style="transition-delay:250ms">a</span><span
                                style="transition-delay:300ms">m</span><span style="transition-delay:350ms">e</span>
                        </label>
                    </div>
                    <div class="form-control">
                        <input type="email" name="email" id="email" autocomplete="off" required>
                        <label>
                            <span style="transition-delay:0ms" class="first-letter">E</span><span
                                style="transition-delay:50ms">m</span><span style="transition-delay:100ms">a</span><span
                                style="transition-delay:150ms">i</span><span
                                style="transition-delay:200ms">l</span>
                        </label>
                    </div>
                    <div class="form-control">
                        <input type="password" name="senha" id="senha" autocomplete="off" required>
                        <label>
                            <span style="transition-delay:0ms" class="first-letter">P</span><span
                                style="transition-delay:50ms">a</span><span style="transition-delay:100ms">s</span><span
                                style="transition-delay:150ms">s</span><span
                                style="transition-delay:200ms">w</span><span
                                style="transition-delay:250ms">o</span><span
                                style="transition-delay:300ms">r</span><span style="transition-delay:350ms">d</span>
                        </label>
                    </div>
                    <div class="form-control">
                        <input type="password" name="confirmarSenha" id="confirmarSenha" autocomplete="off" required>
                        <label>
                            <span style="transition-delay:0ms" class="first-letter">P</span><span
                                style="transition-delay:50ms">a</span><span 
                                style="transition-delay:100ms">s</span><span
                                style="transition-delay:150ms">s</span><span
                                style="transition-delay:200ms">w</span><span
                                style="transition-delay:250ms">o</span><span
                                style="transition-delay:300ms">r</span><span 
                                style="transition-delay:350ms">d</span>
                        </label>
                    </div>
                    <div class="botao-login">
                        <button type="submit">
                            Cadastrar-se
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>